
.main
{
/* display: flex;
margin: auto; */
/* margin-top: 20vh; */
/* background-color:aquamarine; */
}
/* .Register */
/* {   border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

   /* justify-content: space-between; */

    /* height: 100%; */
    /* width: 100%; */
    /* background-color: aqua; */
   /* border-radius: 15px; */

   /* align-items: center; */

    /* margin:auto; */
    /* width: 20vw; */
   /* display: flex; */
   /* margin-top: 30vh; */
/* } */
.registerForm
{
    /* margin: 2%; */
    /* width: 90%; */
    /* margin: auto; */
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: space-between; */
   /* align-items: center; */

  /* background-color: aqua; */
}
/* .registerForm input{
    border-radius: 5px;
   
    border: solid;
    /* width: 100%; */
    /* border-radius: 20px; */
    /* border: none; */
    /* width: 97%; */
    /* height: 15%; */
    /* margin: 3%; */

/* }  */
/* .bottomLine
{
    text-align: center;
    margin: 2%;
    
}

.navigateBtn
{

    border-radius: 10%;
    background-color: rgba(220, 220, 220, 0.582);
    color: blue;
    text-decoration: underline;
} */
